<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="text-center">职位介绍</h2>
		<hr>
		<h3 class="text-center"><%= @job.title %></h3>
		<p class="text-center"><%= @job.description %></p>
	</div>
</div>